h1{
    background: gray;
}
div .title{
    width: 100%;
}
div .menu{
    width: 75%;
}
li{
    display: inline;
    float: left;
    background-color: sandybrown;
    border-right: 1px solid #bbb;
    padding : 9px !important;
}
div .welcome{
    width: 25%;
    float: right;
    text-decoration: 15px solid arial blue;
}
div .day{
    margin-top: 750px;
    float: left;
    background-color: seagreen;
    
}