.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  .even{
    background-color: blue;
  }
  .odd{
    background-color: red;
  }
  
  .main {
    text-align: left;
    background: whitesmoke;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li a {
    color: rgb(54, 2, 2);
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
  ul li a:hover {
    background: tomato;
    color: white;
    }
    img {
        max-width: 100%;
        height: auto;
      }
      

